.ui{
  width: 150px;

}

.flx{
  /* border: 1px solid black; */
  width: auto;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.hh{
  width: 28%;

}

button{
  padding: 5px;
  font-size: 18px;
  margin-bottom: 2%;
}